.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.tag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
