.button {
  display: flex;
  align-items: center;

  padding: 10px;

  cursor: pointer;
  border: 0;
  border-radius: 8px;

  transition: all 0.2s;
}

.button:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  color: #1473e6;
  background: none;
}

.ghost:hover {
  color: #115fbe;
}

.ghost:hover svg {
  stroke: #115fbe;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}
