.button {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 5px;
  border: 0;

  background: none;

  transition: all 0.2s;
}

.button:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.like {
  display: inline-block;
  margin-left: 10px;
}
