.button {
  display: flex;
  align-items: center;
  background: none;

  padding: 5px;

  cursor: pointer;
  border: 0;

  transition: all 0.2s;
}

.button:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.like {
  display: inline-block;
  margin-left: 10px;
}
