html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: #f5f6f8;

  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --grey-dark: #4b4b4b;
  --grey-darker: #303030;
  --grey: #6e6e6e;
  --grey-light: #ebebeb;
  --white: white;
  --primary: #e5f4ff;
  --primary-hover: #b4defc;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', sans-serif;
}
