.h1 {
    font-size: 26;
    font-weight: 500;
    line-height: 35;
    margin: 0
}

.h2 {
    font-size: 22;
    font-weight: 500;
    line-height: 30;
    margin: 0
}

.h3 {
    font-size: 20;
    font-weight: 500;
    line-height: 27;
    margin: 0
}