.button {
  align-items: center;
  background: none;
  cursor: pointer;
  border: 0;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid var(--grey-darker);
  border-radius: 50%;
  transition: all 0.2s ease;
}

.like svg {
  fill: none;
  stroke: var(--grey-darker);
}

.press .like {
  background-color: var(--grey-darker);
  border-color: var(--grey-darker);
}

.press .like svg {
  stroke: var(--white);
}
